{% if status.in_reply_to_status_id %}
	<div id="conv-tweet-{{status.in_reply_to_status_id}}"><img src="/static/loading.gif" /></div>
{% endif %}
<li><div class="status-person-image"><img src="{{status.person.profile_image_url}}" style="float:left; padding:10px;" /></div>
	<div class="status-person-name"><a href="/user/{{status.person.screen_name}}" rel="nofollow">{{status.person.screen_name}}</a></div>
	<div class="status-text">{{status.text|safe}}</div>
	<div class="status-date">{{status.created_at}}</div>
</li>